<section>
  <button class="button is-large is-success" (click)="getUserData()">Get data</button>
</section>

<section class="section">
  <form #userForm novalidate [formGroup]="editForm">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input" formControlName="name">
      </div>
    </div>
    <div class="field">
      <label class="label">Birth id</label>
      <div class="control">
        <input class="input" [ngClass]="{'is-danger': editForm.get('birthId').invalid}"  type="text" placeholder="Text input" formControlName="birthId">
        <p *ngIf="editForm.get('birthId').touched && editForm.get('birthId').invalid" class="is-danger">Personnummer er obligatorisk, må ha korrekt format og bestå av 11 siffer</p>
      </div>
    </div>

    <div class="field">
      <label class="label">Username</label>
      <div class="control" >
        <input class="input " type="text" placeholder="Text input"  formControlName="userName">
        
      </div>      
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input #email class="input" type="email" placeholder="Email input"  formControlName="email">
        
      </div>
      <p *ngIf="email.invalid" class="help is-danger">This email is invalid</p>
    </div>

    <div class="field">
      <label class="label">User Type</label>
      <div class="control">
        <div class="select" >
          <select formControlName="userType">
            <option *ngFor="let t of userTypes" [value]="t">{{ t }}</option>
           
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Comment</label>
      <div class="control">
        <textarea class="textarea" placeholder="Textarea" formControlName="comment"></textarea>
      </div>
    </div>    

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-success" (click)="save()" [disabled]="editForm.invalid" >Submit</button>
      </div>
      <div class="control">
        <button class="button is-warning" (click)="resetForm()">Cancel</button>
      </div>
    </div>
  </form>


</section>

<section class="section">
  <div class="columns">
    <div class="column">
        <pre>
            <table>            
                <tbody>
                    
                    <tr>
                        <td>Valid</td>
                        <td>:</td>
                        <td>{{editForm?.valid}}</td>
                    </tr>
                    <tr>
                        <td>Dirty</td>
                        <td>:</td>
                        <td>{{editForm?.dirty}}</td>
                    </tr>
                    <tr>
                        <td>Touched</td>
                        <td>:</td>
                        <td>{{editForm?.touched}}</td>
                    </tr>
                    <tr>
                        <td>Untouched</td>
                        <td>:</td>
                        <td>{{editForm?.untouched}}</td>
                    </tr>
                    <tr>
                        <td>Prisine</td>
                        <td>:</td>
                        <td>{{editForm?.pristine}}</td>
                    </tr>
                    <!--<tr *ngIf="isReactiveForm">
                    <td>Has errors</td>
                    <td>:</td>
                    <td>{{form?.hasError}}</td>
                </tr>-->
        
                </tbody>
            </table>
        </pre>
    </div>
    <div class="column">
        <pre>{{editForm.value | json}}</pre>
    </div>
  </div>
  
</section>
