<section>
  <button class="button is-large is-success" (click)="getUserData()">Get data</button>
</section>

<section class="section">
  <form #userForm novalidate [formGroup]="editForm">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input" formControlName="name">
      </div>
      <p *ngIf="editForm.get('name').touched && editForm.get('name').invalid" class="help is-danger">This email is invalid</p>
    </div>
    <div class="field">
      <label class="label">Birth id</label>
      <div class="control">
        <input class="input" [ngClass]="{'is-danger': editForm.get('birthId').invalid}" type="text" placeholder="Text input" formControlName="birthId">
        <p *ngIf="editForm.get('birthId').touched && editForm.get('birthId').invalid" class="help is-danger">Personnummer er obligatorisk, må ha korrekt format og bestå av 11 siffer</p>
      </div>
    </div>

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input " type="text" placeholder="Text input" formControlName="username">
        
          <p *ngIf="usernameControl.touched && usernameControl.errors?.required" class="help is-danger">
            Username is required.
          </p>
          <p *ngIf="usernameControl.errors?.minlength" class="help is-danger">
            Username must be at least 6 characters long.
          </p>
          <p *ngIf="usernameControl.errors?.maxlength" class="help is-danger">
            ... but not longer than 10
          </p>
        

      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="Email input" formControlName="email">

      </div>
      <p *ngIf="editForm.get('email').touched && editForm.get('email').invalid" class="help is-danger">This email is invalid</p>
    </div>

    <div class="field">
      <label class="label">User Type</label>
      <div class="control">
        <div class="select">
          <select formControlName="userType">
            <option *ngFor="let t of userTypes" [value]="t">{{ t }}</option>

          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Comment</label>
      <div class="control">
        <textarea class="textarea" placeholder="Textarea" formControlName="comment" maxlength="140"></textarea>
      </div>
      {{ charCount }} of {{ totalCharsAllowed }}
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-success" (click)="save()" [disabled]="editForm.invalid">Submit</button>
      </div>
      <div class="control">
        <button class="button is-warning" (click)="resetForm()">Cancel</button>
      </div>
    </div>
  </form>


</section>

<app-form-info [form]="editForm"></app-form-info>