<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Velkommen til Avento sitt Angular Sample Bibliotek
      </h1>
      <h2 class="subtitle">
        Bruk dette repoet for å sjekke ut samples, ideer og kode
      </h2>
    </div>
  </div>
</section>

<section>
  Repo: https://aventoas.visualstudio.com/DefaultCollection/Avento%20Versioning%20Test/_git/angular-samples
</section>


<section class="section">
<div class="columns">
  <div class="column is-3">
      <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Reactive forms
            </p>
            
          </header>
          <div class="card-content">
            <div class="content">
              Sjekk ut denne branchen for detaljer og oppsett på reactive forms
            </div>
          </div>
          <footer class="card-footer">
            <pre><code>git checkout forms/reactive</code></pre>
          </footer>
        </div>
  </div>
  
  
</div>


</section>


